<h1>Blackjack</h1>

<link href="/assets/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>
<div id = "dealer">
    <table>
        <tr><td class = "cardLocation 10"></td>
            <td class = "cardLocation 12"></td>
            <td class = "cardLocation 13"></td>
            <td class = "cardLocation 14"></td>
            <td class = "cardLocation 15"></td>
            <td class = "cardLocation 16"></td>

        </tr>
    </table>

</div>

<div id = "panel">
    <button id = "Deal" style="padding-top:25px">Deal</button>
    <button id = "Hit" style="padding-top:25px">Hit</button>
    <button id = "Stay" style="padding-top:25px">Stay</button>
    <button id="splitButton" style="padding-top:25px">Split</button>
    <button id="Double" style="padding-top:25px">Double</button>
</div>

<div id = "player">
    <table>
    <tr><td class = "cardLocation 10"></td>
        <td class = "cardLocation 12"></td>
        <td class = "cardLocation 13"></td>
    </tr>
    <tr>
        <td class = "cardLocation 14"></td>
        <td class = "cardLocation 15"></td>
        <td class = "cardLocation 16"></td>

    </tr>
    </table>

</div>
<div id = "split">
    <table>
        <tr><td class = "cardLocation 10"></td>
            <td class = "cardLocation 12"></td>
            <td class = "cardLocation 13"></td>
        </tr>
        <tr>
            <td class = "cardLocation 14"></td>
            <td class = "cardLocation 15"></td>
            <td class = "cardLocation 16"></td>

        </tr>
    </table>

</div>

<div id = "panelforSplit">
    <button id = "SDeal" style="padding-top:25px">Deal</button>
    <button id = "SHit" style="padding-top:25px">Hit</button>
    <button id = "SStay" style="padding-top:25px">Stay</button>
    <button id="SsplitButton" style="padding-top:25px">Split</button>
    <button id="SDouble" style="padding-top:25px">Double</button>
</div>


<script>



</script>



</body>
</html>